<ion-view title="JFrench法汉词典">

  <ion-header-bar class="bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" ng-change="search()">
      <button class="button button-clear" ng-click="clearSearch()">X</button>
    </label>
  </ion-header-bar>
  
  <ion-content has-header="true" has-subheader="true">
	  <ion-list>
	    <ion-item ng-repeat="word in words | limitTo:20" type="item-text-wrap" ng-click="addHistory(word)" href="#/event/detail/{{word._id}}">
	      <h3>{{word.word_fr}}</h3>
	      <p>{{word.means}}</p>
	    </ion-item>
	  </ion-list>
  </ion-content>

</ion-view>